.cmp-sidebar {
    position: sticky;
    top: 0; 
    height: 100vh; 
    overflow-y: auto; 

    &__container {
        padding: 5px;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__items {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &__heading-text {
        overflow: hidden;
        max-height: 100px;
        transform: scale(1);
        padding: 10px 16px 16px 16px;
        transform-origin: top left;
        transition: 0.4s;
    }

    &.ps-sidebar-root {
        width: 70px;
        position: sticky;
    }

    &.ps-sidebar-root.ps-collapsed {
        width: 90px;
    }

    &.ps-collapsed {
        .ps-menu-label {
            width: 0;
            opacity: 0;
        }
    }
}