.card-container {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-top: 50px;

  &__background {
    position: absolute;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: url('https://images.unsplash.com/photo-1531746790731-6c087fecd65a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGJhY2tncm91bmR8ZW58MHx8fHwxNjkxNTg2Njk2&ixlib=rb-1.2.1&q=80&w=400')
      no-repeat center/cover;
    z-index: 1;
  }

  &__avatar {
    border: 4px solid white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &__camera {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ff558f;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
